@using RecipeBox.Models;
@{
Layout = "_Layout";
}

<div class="container">
<hr>
<h1>Categories</h1>
<hr>
<h3>Category: @Model["selectedCategory"].GetName()</h3> <hr> <h3>Food Type: @Model["selectedCategory"].GetTag()</h3>
<hr />
@if (@Model["categoryRecipes"].Count != 0)
{
  <h4>Here are all the recipes in this category:</h4>
  <ul>
    @foreach (var recipe in @Model["categoryRecipes"])
    {
      <li>@recipe.GetName()</li>
    }
  </ul>
}
<hr>
<h4>Add a recipe::</h4>
<form action='/categories/@Model["selectedCategory"].GetId()/recipes/new' method='post'>
  <label for='recipe-id'>Select a recipe</label>
  <select id='recipe-id' name='recipe-id' type='text'>
    @foreach (var recipe in @Model["allRecipes"])
    {
      <option value='@recipe.GetId()'>@recipe.GetName()</option>
    }
  </select>
  <button type='submit'>Add</button>
</form>
</div>

<hr>
<br>
<p><a href="/categories/" class="btn btn-warning">Return to Category List</a></p>
<p><a href="/categories/@Model["selectedCategory"].GetId()/update" class="btn btn-warning">Edit Category</a></p>
